
@{
    ViewBag.Title = "Contacts";
}

<div class="row contact-wrapper">
    <div class="container">
        <div class="col-md-12 container contact-headers"><span>НАШ АДРЕС:</span></div>
        <p>105064 Москва, Земляной вал дом 34-а</p>
    </div>
</div>

<div id="tel-wrapper" class="row contact-wrapper">
    <div class="container" id="tel-container">
        <div  class="col-md-12 container contact-headers"><span>ЖДЕМ ВАШИХ ЗВОНКОВ:</span></div>
        <div class="col-md-4 tel">
            <a href="tel:+7 (926) 035 88 16" class="phone">+7 (495) 917-51-40</a>
        </div>
        <div class="col-md-4 tel">
            <a href="tel:+7 (926) 035 88 16" class="phone">+7 (495) 626-55-70</a>
        </div>
        <div class="col-md-4 tel">
            <a href="tel:+7 (926) 035 88 16" class="phone">+7 (495) 917-85-91</a>
        </div>
    </div>
</div>

<div class="row contact-wrapper">
    <div class="container">
        <div class="col-md-12 container contact-headers"><span>КАК ПРОЕХАТЬ:</span></div>
        <p>
            На метро: м. КУРСКАЯ(м. ЧКАЛОВСКАЯ), при выходе из метро идти в сторону Садового кольца, перейти на противоположную сторону, идти до жилого дома по адресу: Земляной вал, 34 с вывеской «САДЫ САЛЬВАДОРА», поворот направо во внутрь жилых домов, идти прямо до шлагбаума, зайти на территорию, справа желтое двухэтажное небольшое здание, вторая металлическая дверь по ходу, 1 этаж, вывеска ПЛАТИНУМ ТРЭВЕЛ.
        </p>
        <p> 
            На машине: по внутренней стороне Садового кольца поворот направо после жилого дома по Земляному валу 34, ехать прямо до шлагбаума, далее пешком.
        </p>
    </div>
</div>

<div id="map-wrapper" class="container">
    <div class="col-md-12 container contact-headers"><span>СХЕМА ПЕРОЕЗДА:</span></div>
    <div id="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=wtAM55dRMccKi4ZrCyA3tAXn5T1OVglw&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
    </div>
</div>
