
@{
    ViewBag.Title = "Index";
}

<div id="about-pre-wrapper" class="row" style="background-image:url('http://daaibraanies-001-site1.ftempurl.com/ptImg/jumb-bkg.jpg');background-repeat: no-repeat; background-size : cover;background-position-x: 50%; background-position-y: 50%;">
    <div id="about-pre-container" class="container">
        <p>Компания «Платинум Трэвел» работает на рынке туристических услуг более 15 лет.</p>
        <p>Основным направлением деятельности компании является организация индивидуальных и групповых туров по всему миру.
         Благодаря высокой профессиональной подготовке и многолетнему опыту, отлаженным связям в различных странах и отелях, наши сотрудники способны организовать любой сложный, интересный и эксклюзивный тур.</p>
        <p>
            Отдых, как правило, это путешествие, которое требует тщательного поиска туров и звонки в большое количество турагентств.
            Теперь это не нужно, достаточно позвонить нам и мы найдем тур, который подойдет именно Вам!
        </p>

        <p>Наша компания за продолжительный период работы наладила партнерские отношения с ведущими международными туроператорами и авиаперевозчиками, поэтому у наших клиентов никогда не возникает проблем в путешествии!</p>
    </div>
</div>
<div id="about-post-wrapper" class="row">
    <div class="container">
        <p class="inn" style="margin: 15px 0"><span class="big">Все лучшее, что есть у нашего турагентства, мы дарим Вам!</span></p>

        <p class="inn" style="margin-bottom: 10px; text-decoration: underline"><span class="big">Наши услуги:</span></p>

        <ul id="inn">
            <li>Индивидуальные туры любой сложности, групповые туры по всем странам мира</li>
            <li>Авиабилеты ведущих российских и зарубежных компаний по оптимальным тарифам и спецпредложениям</li>
            <li>Корпоративное обслуживание (организация семинаров, деловых поездок)</li>
            <li>Аренда автомобилей</li>
            <li>Аренда вилл и апартаментов</li>
        </ul>

        <p class="inn" style="margin: 25px 0 10px 0"><span class="big">А так же:</span></p>

        <p class="inn" style="margin-bottom: 10px">
            <span class="big" style="font-style: italic">Специальные акции</span> - это мероприятия, которые мы проводим для Вас, выставляя специальные условия по продаже или по оплате
            туров наших лучших партнеров - туроператоров. Следите за обновлением раздела и сможете получить интересные предложения
            одними из первых.
        </p>

        <p class="inn" style="margin-bottom: 10px"><span class="big" style="font-style: italic">Удобные варианты</span> оплаты туров для наших клиентов.</p>

        <p class="inn" style="margin-bottom: 10px">
            Специальные программы по обслуживанию наших корпоративных клиентов, которым мы обеспечиваем лучшие условия не только для
            отдыха, но и для комфортной работы.
        </p>

        <p class="inn" style="margin-bottom: 10px">
            <span class="big" style="font-style: italic">Дополнительные услуги</span>, которые мы с удовольствием окажем нашим клиентам. Например, заказ трансфера и такси, заказ авиа и железнодорожных билетов, ВИП обслуживание в аэропортах, организация экскурсий, помощь в оформлении загранпаспортов и виз, доставка туристических путевок, комплименты и подарки
            в номера отелей по всему миру.
        </p>

        <p class="inn" style="margin: 15px 0"><span class="big">Мы будем рады, только если будете рады Вы! А лучшим показателем Вашего отношения к нам будет являться Ваше повторное обращение в наше агентство и Ваши рекомендации!</span></p>
    </div>
</div>

