<header id="calendar-header">
    <div id="back-month"></div>
    <h1 id="month">Январь</h1>
    <div id="forward-month"></div>
</header>

<div id="calendar">
    <ul>
        <li class="dayofweek" id="monday" href="#">ПН</li>
        <li class="dayofweek" id="tuesday" href="#">ВТ</li>
        <li class="dayofweek" id="wednesday" href="#">СР</li>
        <li class="dayofweek" id="thursday" href="#">ЧТ</li>
        <li class="dayofweek" id="friday" href="#">ПТ</li>
        <li class="dayofweek" id="saturday" href="#">СБ</li>
        <li class="dayofweek" id="sunday" href="#">ВС</li>
        <li class="block cal-date" id="blockone" href="#">1</li>
        <li class="block cal-date" id="blocktwo" href="#">2</li>
        <li class="block cal-date" id="blockthree" href="#">3</li>
        <li class="block cal-date" id="blockfour" href="#">4</li>
        <li class="block cal-date" id="blockfive" href="#">5</li>
        <li class="weekend cal-date" id="blocksix" href="#">6</li>
        <li class="weekend cal-date" id="blockseven" href="#">7</li>
        <li class="block cal-date" id="blockeight" href="#">8</li>
        <li class="block cal-date" id="blocknine" href="#">9</li>
        <li class="block cal-date" id="blockten" href="#">10</li>
        <li class="block cal-date" id="blockeleven" href="#">11</li>
        <li class="block cal-date" id="blocktwelve" href="#">12</li>
        <li class="weekend cal-date" id="blockthirteen" href="#">13</li>
        <li class="weekend cal-date" id="blockfourteen" href="#">14</li>
        <li class="block cal-date" id="blockfifteen" href="#">15</li>
        <li class="block cal-date" id="blocksixteen" href="#">16</li>
        <li class="block cal-date" id="blockseventeen" href="#">17</li>
        <li class="block cal-date" id="blockeighteen" href="#">18</li>
        <li class="block cal-date" id="blocknineteen" href="#">19</li>
        <li class="weekend cal-date" id="blocktwenty" href="#">20</li>
        <li class="weekend cal-date" id="blocktwentyone" href="#">21</li>
        <li class="block cal-date" id="blocktwentytwo" href="#">22</li>
        <li class="block cal-date" id="blocktwentythree" href="#">23</li>
        <li class="block cal-date" id="blocktwentyfour" href="#">24</li>
        <li class="block cal-date" id="blocktwentyfive" href="#">25</li>
        <li class="block cal-date" id="blocktwentysix" href="#">26</li>
        <li class="weekend cal-date" id="blocktwentyseven" href="#">27</li>
        <li class="weekend cal-date" id="blocktwentyeight" href="#">28</li>
        <li class="block cal-date" id="blocktwentynine" href="#">29</li>
        <li class="block cal-date" id="blockthirty" href="#">30</li>
        <li class="block cal-date" id="blockthirtyone" href="#">31</li>
        <li class="block cal-date" id="blockthirtytwo" href="#">1</li>
        <li class="block cal-date" id="blockthirtythree" href="#">2</li>
        <li class="weekend cal-date" id="blockthirtyfour" href="#">3</li>
        <li class="weekend cal-date" id="blockthirtyfive" href="#">4</li>
    </ul>
</div>