<footer id="site-footer">
    <div id="site-footer-wrapper" class="row">
        <div class="row">
            <div id="footer-leftbar" class="footer-item-wrapper col-lg-3">
                <h4>Например контактная информация</h4>
                <p>Я не знаю что тут будет</p>
                <p>Надо придумывать </p>
                <p>Как заполнять контент</p>
                <p>Сайта</p>
            </div>
            <div id="footer-centralbar" class="footer-item-wrapper col-lg-6">

            </div>
            <div id="footer-rightbar" class="footer-item-wrapper col-lg-3">
                <h4>Например контактная информация</h4>
                <p>Я не знаю что тут будет</p>
                <p>Надо придумывать </p>
                <p>Как заполнять контент</p>
                <p>Сайта</p>
            </div>
        </div>
        <div id="footer-site-map" class="row">

        </div>
        <div id="footer-rights" class="row">
            <p>© 2017 Platinum Trave – Туры и речные круизы</p>
        </div>
    </div>
</footer>
