<footer id="site-footer">
    <div id="site-footer-wrapper" class="row">
        <div class="row">
            <div id="footer-leftbar" class="footer-item-wrapper col-lg-3 col-md-6 col-sm-4 col-xs-6">
                <h4>Например контактная информация</h4>
                <p>Я не знаю что тут будет</p>
                <p>Надо придумывать </p>
                <p>Как заполнять контент</p>
                <p>Сайта</p>
            </div>
            <div id="footer-centralbar" class="footer-item-wrapper col-lg-6 col-md-6 col-sm-8 hidden-xs">

            </div>
            <div id="footer-rightbar" class="footer-item-wrapper col-lg-3 hidden-md hidden-sm col-xs-6">
                <h4>Например контактная информация</h4>
                <p>Я не знаю что тут будет</p>
                <p>Надо придумывать </p>
                <p>Как заполнять контент</p>
                <p>Сайта</p>
            </div>
        </div>
        <div id="footer-site-map" class="row">
            <div class="container">
                <ul id="footer-socials">
                    <li id="vk-social">
                        <a href="https://vk.com/platinum_travel_msk"></a>
                    </li>
                    <li id="inst-social">
                        <a href="https://www.instagram.com/platinum_travel/"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="footer-rights" class="row">
            <p class="col-lg-10 col-md-10 col-xs-7">© 2017 Platinum Trave – Туры и речные круизы</p>
            <span id="sign" class="col-lg-2 col-xs-3"><a href="https://vk.com/id314898586">by daaibraAnies</a></span>
        </div>
    </div>
</footer>
