<header id="site-header">
    <div id="site-navigation-wrapper" class="row">
        <nav>
            <div id="site-navigation">
                <div id="site-navigation-left-block" class="col-md-2 col-sm-3">
                    <img id="site-logo" height="150" width="100"  src="~/Images/logo.svg"/>
                </div>
                <div id="site-navigation-central-block" class="col-md-5 hidden-sm">
                    <div class="container">
                        <span id="site-header-citata">«Идеал – чувствовать себя как дома в любом месте, вообще повсюду».</span>
                        <br />
                        <span id="citata-author">Джефф Дайер</span>
                    </div>
                </div>
                <div id="site-navigation-right-block" class="col-md-5 col-sm-9 hidden-xs">
                    <div class="container">
                        <span>Ждем ваших звонков по номеру:</span>
                        <a href="tel:+7 (926) 035 88 16" class="phone">+7 (926) 035 88 16</a>
                    </div>
                </div>
            </div>
            <div id="navigation-silver-string" class="row"></div>
            <div id="site-navigation-menu" class="row">
                <div class="container">
                    <ul id="menu-items" class="nav navbar-nav">
                        <div class="container">
                            <li>Туры</li>
                            <li>Речные туры</li>
                            <li>Горящие туры</li>
                            <li>Визы</li>
                            <li>Страхование</li>
                            <li>Контакты</li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="quick-search-wrapper" class="row">
            <div id="quick-search-container" class="container">
                <form id="quick-search-form">
                    <label id="quick-search-icon"></label>
                    <input id="quick-search-input" placeholder="Место назначения" type="text" />
                    <label id="quick-search-calendar-icon"></label>
                    <input id="quick-search-date-from" class="cal-trigger" type="text" placeholder="Прибытие" />
                    <label id="quick-search-separator"></label>
                    <input id="quick-search-date-to" class="cal-trigger" type="text" placeholder="Убытие" />
                    <div id="quick-search-button-container">
                        <div id="quick-search-bar"></div>
                        <input id="quick-search-button" class="button" type="submit" value="Найти" />
                    </div>
                </form>
                <div id="calendar-wrapper" class="cal-inactive cal-trigger">
                    @Html.Partial("~/Views/Shared/_CalendarPartial.cshtml")
                </div>
            </div>

        </div>
    </div>
</header>
