<div id="site-slider-container">
    <div id="slider-bg-container" class="row">
        <img id="slider-bg-img" src="~/Images/slider-bg-1.jpg" class="img-responsive" alt="" />
        <h1 class="slider-text">А тут еще вот такой текст можно будет вставить</h1>
    </div>
    <div id="slide1" class="site-slider-wrapper row">
        <img src="~/Images/slider-bg-1.jpg" class="img-responsive" alt="" />
        <h1 class="slider-text">А тут еще вот такой текст можно будет вставить</h1>
    </div>
    <div id="slide2" class="site-slider-wrapper row">
        <img src="~/Images/slider-bg-2.jpg" class="img-responsive" alt="" />
        <h1 class="slider-text">И такой тоже</h1>
    </div>
    <div id="slide3" class="site-slider-wrapper row">
        <img src="~/Images/slider-bg-3.jpg" class="img-responsive" alt="" />
        <h1 class="slider-text">Главное что бы содержательно и локанично</h1>
    </div>
</div>